<!DOCTYPE html>
<html>
  <head>
    <title>The Trainer In Touch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "dashboard-tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "dashboard", "data-turbo-track": "reload" %>
    <script>window.process = { env: { NODE_ENV: "#{Rails.env}" } }</script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id='dashboard-app'></div>
    <div id='modal'></div>
  </body>
</html>
